
a
{
  text-decoration: none;
  color: #000000;
}
body
{
  background-color: rgba(0,200,255,0.1 );
}
fieldset.header
{
    background:linear-gradient(to bottom, #6699ff 0%, #ffffff 100% ); 
    padding-top: 2%;
    padding-bottom:  2%;
    border: 1px dotted black;
    box-shadow: 4px 4px 4px #888888;
    position: relative;
}
legend.header
{

position: absolute;
bottom: -17%;


}
#div
{
    border: 1px solid #0000ff;
    margin-right: 0.2%;
    margin-left: 75%;background: #ffffff;
    text-align: center;
    padding: 0.5%;
    border-radius: 10px 0px 10px 10px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.7vw;

}


fieldset.scheduler-border {
    border: solid 2px #DDD;
    padding: 0 10px 10px 10px;
    border-color: #ff6600 ;
    font-weight: bold;
    color: #0000ff;
    font-size: 135%;
    font-family: "Times New Roman", Times, serif;
}

legend.scheduler-border {
    width: auto ;
    border: none;
    font-size: 150%;
    font-weight: bold;
    padding: 1%;font-family: "Times New Roman", Times, serif;
    }
    img{
    	height: 70px;
    	width: 80%;
    	
    }


    #ab{
    	 width: 35px;
  height: 4px;
  background-color: black;
  margin: 4px 0;
}
ul{
    position: absolute;
    left: 20px;
    top: 40px;
    border: 2px dotted black;
    padding-left: 0%;
    background: #66ffff;
}
#nav
{
    display: none;
}
li
{
text-align: center;
padding: 5% 0% 10% 0%;
z-index:2;
border-bottom: 1px solid black;
box-shadow:  4px 4px 4px #888888;
position: relative;

}
#menu
{
    background: #0000ff;
    z-index:2;
    position: relative;
   }
   
   #set1
   {
    display: none;
   }
   #kit
   {
    margin-top: 10%;
    position: relative;
    
    display: inline-block;
   }
   #doc
   {z-index: -1;


    margin: 10%;
    padding: 20%;
    padding-top: 20%;
    padding-bottom: 20%;
    border: 2px dotted black;
    display: inline-block;
    width: 80%;
    height: 80%;
    text-align: center;
    font-weight: bolder;
    font-size: 1.7vw;
    position: relative;
    background: #ffffff;
     box-shadow: 2px 2px 2px #888888;


   }
   div.b:before
{
content:'';
position: absolute;
right:0;
top: 0;
border-right: 35px solid rgba(0,200,255,0.1);
border-bottom: 35px solid #ffffff;

}
div.c:before
{
content:'';
position: absolute;
right: -5px;
top: -4px;
width: 36px;
height:36px;
background-color:rgba(255, 0, 0, 0);

border-left:2px dotted black;
border-bottom:2px dotted black;
border-right: 6px solid #ddffff;
border-top: 4px solid #ddffff;
}
div.d:before
{
content:'';
position: absolute;
right: 7px;
top: 7px;
width: 50px;
height:50px;
background-color:rgba(255, 0, 0, 0);

border-top: 2px dotted black;
transform: rotate(45deg);
}

  
   @media screen and (max-width: 991px)
  {
     #set
     {
        display: none;
     }
     #set1
     {
        display: inline-block;
     }
     fieldset.scheduler-border {
    
    padding: 0%;
   }

legend.scheduler-border {
    
    padding: 0%;
}
legend.header
{
bottom: -12%;
}
#div
{
    margin-right: 0.2%;
    margin-left: 70%;
    border-radius: 10px;
    font-size: 2.2vw;
}
#doc
{
  width: 60%;
  height: 80%;
  font-size: 2.0vw;
}
  }

  @media screen and (max-width: 767px)
  {
      #set
     {
        display: none;
     }
     #set1
     {
        display: inline-block;
     }
     #About
     {
        display: none;

     }
     #english
     {
        display: none;
     }

     fieldset.scheduler-border {
    font-size: 90%;
    }

legend.scheduler-border {
          font-size: 110%;
        }
        #menu
        {
            font-size: 80%;
            margin-left: 35%;
        }
  
legend.header
{

position: absolute;
bottom: -16%;


}
#div
{
    
    margin-left: 58%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    font-size: 3vw;
    border-color: #0000ff;
}
#body
{
    margin-top: 10%;
}
#doc
{
  width: 80%;
  height: 100%;
  font-size: 3.5vw;
  padding-top: 45%; 
}
 

  }
   